In [1]:
def transformR(array):
    return np.log(array/array.shift(1))
def RollingWindow(array, windows):
    n_iter = len(array) - windows - 1 
    newX = [array[i:(i+windows)] for i in range(n_iter)]
    newY = [array[i+windows] for i in range(n_iter)]
    return np.array(newX), np.array(newY)

In [2]:
import pandas as pd
import numpy as np
import talib
from sklearn.metrics import accuracy_score

df = pd.read_csv('./Data/CleanBTCUSDT_1M.csv')
# df = pd.read_csv('./Data/CleanBTCUSDT-1h-data.csv')
# df = df.set_index('Date')

In [3]:
df

,timestamp,open,high,low,close,volume
0,2017-08-17 04:00:00,4261.48,4261.48,4261.48,4261.48,1.775183
1,2017-08-17 04:01:00,4261.48,4261.48,4261.48,4261.48,0.000000
2,2017-08-17 04:02:00,4280.56,4280.56,4280.56,4280.56,0.261074
3,2017-08-17 04:03:00,4261.48,4261.48,4261.48,4261.48,0.012008
4,2017-08-17 04:04:00,4261.48,4261.48,4261.48,4261.48,0.140796
...,...,...,...,...,...,...
2279877,2021-12-23 07:18:00,48399.24,48407.98,48384.86,48390.19,16.975530
2279878,2021-12-23 07:19:00,48390.20,48417.98,48390.19,48417.98,9.188340
2279879,2021-12-23 07:20:00,48417.97,48439.82,48406.19,48430.60,7.366720
2279880,2021-12-23 07:21:00,48430.61,48442.00,48419.95,48425.96,6.630590
2279881,2021-12-23 07:22:00,48425.97,48450.00,48421.11,48437.57,6.360080

In [4]:
df = df[round(df.shape[0]/1.2):]
df.reset_index(drop=True, inplace=True)
df

                  timestamp      open      high       low     close     volume
0       2021-04-02 20:39:00  58783.79  58866.29  58783.79  58812.15  24.874955
1       2021-04-02 20:40:00  58812.15  58818.36  58770.01  58785.09  26.010284
2       2021-04-02 20:41:00  58785.08  58814.57  58774.18  58793.62  12.881304
3       2021-04-02 20:42:00  58793.61  58799.99  58757.57  58779.10  18.302502
4       2021-04-02 20:43:00  58779.12  58790.02  58764.19  58779.53  19.366303
...                     ...       ...       ...       ...       ...        ...
379975  2021-12-23 07:18:00  48399.24  48407.98  48384.86  48390.19  16.975530
379976  2021-12-23 07:19:00  48390.20  48417.98  48390.19  48417.98   9.188340
379977  2021-12-23 07:20:00  48417.97  48439.82  48406.19  48430.60   7.366720
379978  2021-12-23 07:21:00  48430.61  48442.00  48419.95  48425.96   6.630590
379979  2021-12-23 07:22:00  48425.97  48450.00  48421.11  48437.57   6.360080

[379980 rows x 6 columns]

In [6]:
High= df["high"]  
Low = df["low"] 
Open= df["open"] 
Close= df["close"]  
Volume= df["volume"]

In [12]:
df.loc[:, ('MA10')]  = talib.MA(Close, timeperiod=10).copy()
df.loc[:, ('WMA10')] = talib.WMA(Close, timeperiod=10).copy()
df.loc[:, ('EMA10')] = talib.EMA(Close, timeperiod=10).copy()
df.loc[:, ('MOM')] = talib.MOM(Close, timeperiod=10).copy()
fastk, fastd = talib.STOCHF( High ,Low, Close, fastk_period=5, fastd_period=3, fastd_matype=0)
df.loc[:, ('K')] = fastk.copy()
df.loc[:, ('D')] = fastd.copy()
df.loc[:, ('RSI-5')]  = talib.RSI(Close,timeperiod=5).copy()
df.loc[:, ('RSI-10')] = talib.RSI(Close,timeperiod=10).copy()
df.loc[:, ('威廉指標R')] = talib.WILLR(High, Low, Close, timeperiod=10).copy() # 14 --> 10
df.loc[:, ('AD')] = talib.AD(High, Low, Close, Volume).values.copy()
df.loc[:, ('CCI指標')] = talib.CCI(High, Low, Close, timeperiod=10).copy()

In [13]:
df

,timestamp,open,high,low,close,volume,MA10,WMA10,EMA10,MOM,K,D,RSI-5,RSI-10,威廉指標R,AD,CCI指標,r
0,2021-04-02 20:39:00,58783.79,58866.29,58783.79,58812.15,24.874955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.773047,NaN,NaN
1,2021-04-02 20:40:00,58812.15,58818.36,58770.01,58785.09,26.010284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-17.558508,NaN,-0.000460
2,2021-04-02 20:41:00,58785.08,58814.57,58774.18,58793.62,12.881304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-18.040082,NaN,0.000145
3,2021-04-02 20:42:00,58793.61,58799.99,58757.57,58779.10,18.302502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-17.763948,NaN,-0.000247
4,2021-04-02 20:43:00,58779.12,58790.02,58764.19,58779.53,19.366303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-14.127612,NaN,0.000007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379975,2021-12-23 07:18:00,48399.24,48407.98,48384.86,48390.19,16.975530,48431.087,48417.162057,48422.213698,-98.95,9.296330,17.589296,15.785362,35.761051,-94.267278,-150097.329056,-103.571435,-0.000187
379976,2021-12-23 07:19:00,48390.20,48417.98,48390.19,48417.98,9.188340,48427.207,48414.778966,48421.443935,-38.80,64.955956,32.419349,48.471678,47.180471,-68.278313,-150088.140716,-52.329111,0.000574
379977,2021-12-23 07:20:00,48417.97,48439.82,48406.19,48430.60,7.366720,48423.552,48415.395875,48423.108674,-36.55,83.464849,52.572378,57.774839,51.528205,-56.476199,-150084.813316,4.679249,0.000261
379978,2021-12-23 07:21:00,48430.61,48442.00,48419.95,48425.96,6.630590,48419.101,48415.833693,48423.627097,-44.51,71.928596,73.449800,53.348211,49.851851,-52.857786,-150087.829407,35.891953,-0.000096
379979,2021-12-23 07:22:00,48425.97,48450.00,48421.11,48437.57,6.360080,48418.430,48419.191693,48426.162170,-6.71,80.918023,78.770490,62.366650,54.011369,-18.850470,-150086.942210,77.033535,0.000240

In [15]:
df.loc[:, ('r')] = transformR(df['close']).copy()

In [17]:
tp = np.where((df['r'] >= 0) , 1, 0)
df.loc[:, ('flag')] = tp.copy()

In [18]:
windows = 10
x, _ = RollingWindow(df['r'], windows)
y = df['flag'][windows+1:].values

In [23]:
df.iloc[windows+1:, 1:-2]

,open,high,low,close,volume,MA10,WMA10,EMA10,MOM,K,D,RSI-5,RSI-10,威廉指標R,AD,CCI指標
11,58625.83,58682.12,58568.63,58666.72,68.827285,58723.549,58694.695636,58719.076347,-118.37,43.078612,16.821383,31.783249,21.785800,-60.382083,-96.152180,-109.816100
12,58666.72,58668.11,58602.00,58636.54,29.367215,58707.841,58678.875818,58704.069739,-157.08,35.195647,28.272518,24.883102,18.956833,-72.571590,-94.832854,-89.440925
13,58636.54,58636.55,58585.80,58596.73,23.308852,58689.604,58658.673818,58684.553422,-182.37,21.883031,33.385763,18.323790,15.925827,-88.650592,-108.101677,-96.316351
14,58596.73,58693.14,58587.57,58693.14,35.337964,58680.965,58659.316727,58686.114618,-86.39,100.000000,52.359559,54.573427,41.216640,-49.711216,-72.763713,-31.438173
15,58693.14,58699.82,58658.92,58690.47,22.100957,58673.501,58661.044909,58686.906506,-74.64,92.872932,71.585321,53.747643,40.838617,-50.789612,-60.767594,10.857938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379975,48399.24,48407.98,48384.86,48390.19,16.975530,48431.087,48417.162057,48422.213698,-98.95,9.296330,17.589296,15.785362,35.761051,-94.267278,-150097.329056,-103.571435
379976,48390.20,48417.98,48390.19,48417.98,9.188340,48427.207,48414.778966,48421.443935,-38.80,64.955956,32.419349,48.471678,47.180471,-68.278313,-150088.140716,-52.329111
379977,48417.97,48439.82,48406.19,48430.60,7.366720,48423.552,48415.395875,48423.108674,-36.55,83.464849,52.572378,57.774839,51.528205,-56.476199,-150084.813316,4.679249
379978,48430.61,48442.00,48419.95,48425.96,6.630590,48419.101,48415.833693,48423.627097,-44.51,71.928596,73.449800,53.348211,49.851851,-52.857786,-150087.829407,35.891953
379979,48425.97,48450.00,48421.11,48437.57,6.360080,48418.430,48419.191693,48426.162170,-6.71,80.918023,78.770490,62.366650,54.011369,-18.850470,-150086.942210,77.033535

In [24]:
x_more = df.iloc[windows+1:, 1:-2].values

In [25]:
x_more_F = np.append(x, x_more, axis=1)
# x_more_F = x_talib
# x_more_F = x

In [33]:
np.nan_to_num(x_more_F, 0)

array([[ 0.00000000e+00, -4.60214891e-04,  1.45094295e-04, ...,
        -6.03820833e+01, -9.61521803e+01, -1.09816100e+02],
       [-4.60214891e-04,  1.45094295e-04, -2.46996073e-04, ...,
        -7.25715901e+01, -9.48328545e+01, -8.94409252e+01],
       [ 1.45094295e-04, -2.46996073e-04,  7.31549866e-06, ...,
        -8.86505917e+01, -1.08101677e+02, -9.63163512e+01],
       ...,
       [-6.67588718e-04,  2.13982244e-04,  6.84976586e-05, ...,
        -5.64761994e+01, -1.50084813e+05,  4.67924853e+00],
       [ 2.13982244e-04,  6.84976586e-05, -5.40475018e-04, ...,
        -5.28577858e+01, -1.50087829e+05,  3.58919532e+01],
       [ 6.84976586e-05, -5.40475018e-04, -9.82620418e-05, ...,
        -1.88504701e+01, -1.50086942e+05,  7.70335347e+01]])

In [34]:
pct = 0.7
TrainSize = round(y.shape[0]*pct)
TestSize = y.shape[0] - TrainSize

(TrainSize, TestSize)

(265978, 113991)

In [35]:
X_train, y_train = x_more_F[:TrainSize], y[:TrainSize]
X_test, y_test = x_more_F[TrainSize:], y[TrainSize:]

In [36]:
from sklearn.preprocessing import MinMaxScaler

ms = MinMaxScaler()
ms.fit(X_train)
X_train_ms = ms.fit_transform(X_train)
X_test_ms = ms.fit_transform(X_test)

# **Trian**

## **RandomForest**

In [37]:
from sklearn.ensemble import RandomForestClassifier

CF = RandomForestClassifier(n_estimators=100, 
                            criterion='gini',
                            max_depth=None,
                            min_samples_split=2,
                            min_samples_leaf=1,
                            min_weight_fraction_leaf=0.0,
                            max_features='auto',
                            max_leaf_nodes=None,
                            min_impurity_decrease=0.0,
                            bootstrap=True,
                            oob_score=False,
                            n_jobs=None,
                            random_state=0,
                            verbose=0,
                            warm_start=False,
                            class_weight=None,
                            ccp_alpha=0.0,
                            max_samples=None,)
CF.fit(X_train_ms, y_train)

RandomForestClassifier(random_state=0)

In [38]:
CF_pred = CF.predict(X_test_ms)
CF_Accuracy = accuracy_score(y_test, CF_pred)

print(f'Accuracy: {CF_Accuracy}')

Accuracy: 0.826293303857322

## **tree**

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
DTC = DecisionTreeClassifier()
DTC.fit(X_train_ms, y_train)

DecisionTreeClassifier()

In [41]:
DTC_pred = DTC.predict(X_test_ms)
DTC_Accuracy = accuracy_score(y_test, DTC_pred)

print(f'Accuracy: {DTC_Accuracy}')

Accuracy: 0.6682457386986692

## **XGboost**

In [42]:
from xgboost import XGBClassifier

XGBC = XGBClassifier(n_estimators=100, learning_rate= 0.01)
XGBC.fit(X_train_ms, y_train)

C:\Anaconda3\envs\torchvenv\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[01:06:56] WARNING: D:\bld\xgboost-split_1637426510059\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.01, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [43]:
XGBC_pred = XGBC.predict(X_test_ms)
XGBC_Accuracy = accuracy_score(y_test, XGBC_pred)

print(f'Accuracy: {DTC_Accuracy}')

Accuracy: 0.6682457386986692

## **LightGBM**

In [ ]:
# !pip install lightgbm

In [44]:
from lightgbm import LGBMClassifier

LGBM = LGBMClassifier()
LGBM.fit(X_train_ms, y_train)

LGBMClassifier()

In [45]:
LGBM_pred = LGBM.predict(X_test)
LGBM_Accuracy = accuracy_score(y_test, LGBM_pred)

print(f'Accuracy: {LGBM_Accuracy}')

Accuracy: 0.5261818915528419