In [1]:
import os
os.path.abspath('.')

'D:\\Python\\NKUST\\Quantitative-Investment-and-Program-Trading\\Data'

In [2]:
import pandas as pd
import numpy as np

x = np.load('BTC-W10.npy')
y = np.load('BTC-W10-Y.npy')

In [6]:
def transformR(array):
    return np.log(array/array.shift(1))
def backwardR(arrayReturn, arrayPrice):
    return np.exp(arrayReturn) * arrayPrice.shift(1)

In [64]:
df = pd.read_csv('CleanBTCUSDT_1M.csv')

In [1]:
df = df.drop(["close_time", "quote_av","trades","tb_base_av","tb_quote_av","ignore"], axis=1)

NameError: name 'df' is not defined

In [19]:
# df.Close.to_csv('rawClose.csv', index=False)

In [65]:
# df = pd.read_csv('rawClose.csv')

In [66]:
windows = 10

In [113]:
df.Close

0           4261.48
1           4261.48
2           4280.56
3           4261.48
4           4261.48
             ...
2279877    48390.19
2279878    48417.98
2279879    48430.60
2279880    48425.96
2279881    48437.57
Name: Close, Length: 2279882, dtype: float64

In [114]:
backwardR(transformR(df.Close), df.Close)

0               NaN
1           4261.48
2           4280.56
3           4261.48
4           4261.48
             ...
2279877    48390.19
2279878    48417.98
2279879    48430.60
2279880    48425.96
2279881    48437.57
Name: Close, Length: 2279882, dtype: float64

In [101]:
df.Close

0           4261.48
1           4261.48
2           4280.56
3           4261.48
4           4261.48
             ...
2279877    48390.19
2279878    48417.98
2279879    48430.60
2279880    48425.96
2279881    48437.57
Name: Close, Length: 2279882, dtype: float64

In [90]:
backwardR(y[:30], df.Close[1:31])

1             NaN
2     4261.480000
3     4280.560000
4     4261.480000
5     4261.480000
6     4261.480000
7     4261.480000
8     4264.880000
9     4261.480000
10    4258.082711
11    4264.880000
12    4262.888876
13    4261.480000
14    4261.480000
15    4261.480000
16    4261.480000
17    4261.480000
18    4264.880000
19    4264.880000
20    4256.645457
21    4283.444931
22    4260.977073
23    4266.290000
24    4259.623095
25    4294.918592
26    4270.013520
27    4266.290000
28    4266.290000
29    4266.290000
30    4261.450000
Name: Close, dtype: float64

In [94]:
pct = 0.7
TrainSize = round(y.shape[0]*pct)
TestSize = y.shape[0] - TrainSize

In [96]:
backwardR(y[TrainSize:TrainSize+30], df.Close[TrainSize+1:TrainSize+31])

1595910             NaN
1595911    11362.187408
1595912    11364.895662
1595913    11377.070046
1595914    11376.649716
1595915    11366.247593
1595916    11371.057576
1595917    11376.033210
1595918    11371.434680
1595919    11382.200084
1595920    11372.849678
1595921    11375.059577
1595922    11386.112948
1595923    11367.099376
1595924    11377.313677
1595925    11366.311374
1595926    11368.890749
1595927    11356.342508
1595928    11352.730714
1595929    11354.469818
1595930    11354.428160
1595931    11355.077322
1595932    11361.983569
1595933    11357.392257
1595934    11348.299397
1595935    11358.075831
1595936    11356.726432
1595937    11348.100553
1595938    11367.065852
1595939    11360.479999
Name: Close, dtype: float64

In [99]:
df.Close[TrainSize+2:]

1595911    11361.37
1595912    11378.52
1595913    11378.88
1595914    11377.61
1595915    11373.82
             ...
2279877    48390.19
2279878    48417.98
2279879    48430.60
2279880    48425.96
2279881    48437.57
Name: Close, Length: 683971, dtype: float64